
body{
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items:  center;
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
}
div{
    height: 100%;
    width: 100%;
    background-color: beige;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div div{
    margin: 10px;
    height: 520px;
    width: 320px;
    background-color: white;
}

div div div{
    margin: 10px;
    height: 500px;
    width: 300px;
    background-color: tomato;
}
div div:nth-child(2) div{     
    background-color: teal;
}
div div:nth-child(3) div{
    background-color: burlywood;
}
div div:nth-child(4) div{
    background-color: thistle;
}


div div:nth-child(n) div div{
    border: 0px;
    margin: 0px;
    position: relative;
    top: 30px;
    height: 150px;
    width: 300px;
    background-color: white;
}
span:first-child{
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 0px;
}
span:last-child{
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: 20px;
    position: absolute;
    top: 80px;
    left: 0px;
}
