@import "reset.css";
@import "css/nav-bar.css";
@import "css/variables.css";
@import "css/stars.css";
@import "css/book.css";
@import "css/adventure.css";
@import "css/authors.css";

* {
    box-sizing: border-box;
}

body{
    height: 1000vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
